@import 'variables';

.about-company {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;

  @media(max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }

  &__description {
    grid-column: 1 / 7;

    @media(max-width: $breakpoint-mobile) {
      grid-column: 1;
    }
  }

  &__image {
    grid-column: 7 / -1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media(max-width: $breakpoint-tablet) {
      justify-content: center;
      grid-column: 1;
    }
  }

  &__image-content {
    background: url('../assets/images/about-company.png') center no-repeat;
    background-size: contain;
    height: 480px;
    width: 80%;

    @media(max-width: $breakpoint-tablet) {
      height: 300px;
      width: 85%;
      margin: 0 auto;
    }
  }
}
