@import 'variables';

.about-company {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;

  @media(max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  @media(max-width: $breakpoint-mobile) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__description {
    grid-column: 1 / 7;
  }

  &__image {
    grid-column: 7 / -1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__image-content {
    background: url('../assets/images/about-company.png') center no-repeat;
    background-size: contain;
    height: 480px;
    width: 500px;
  }
}
