@import 'variables';

.contact {
  .separator {
    border-top: 1px solid $color-slay !important;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media(max-width: $breakpoint-desktop) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__left {
    background: #B4D8D8;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 64px;
    grid-column: 1;

    @media(max-width: $breakpoint-desktop) {
      padding: 48px;
    }

    @media(max-width: $breakpoint-tablet) {
      padding: 32px;
    }

    @media(max-width: $breakpoint-mobile) {
      padding: 24px 12px;
    }
  }

  &__right {
    background: #ffffff url('../assets/images/contact-right.png') center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 64px;
    grid-column: 2;

    @media(max-width: $breakpoint-desktop) {
      grid-column: 1;
      padding: 48px;
      justify-content: center;
    }

    @media(max-width: $breakpoint-desktop) {
      padding: 48px;
    }

    @media(max-width: $breakpoint-tablet) {
      padding: 32px;
    }

    @media(max-width: $breakpoint-mobile) {
      padding: 24px 12px;
    }
  }

  &__form-wrapper {
    color: $color-slay;
    margin-right: 32px;
    max-width: 75%;

    @media(max-width: $breakpoint-large-desktop) {
      max-width: 85%;
      margin-right: 16px;
    }

    @media(max-width: $breakpoint-desktop) {
      margin: 0 auto 0 auto;
    }

    @media(max-width: $breakpoint-tablet) {
      max-width: 100%;
    }
  }

  &__input-wrapper {
    margin-bottom: 32px;
  }

  &__input {
    width: 100%;
    background: transparent;
    padding: 9px 10px;
    outline: none;
    margin: 0;
    max-width: 100%;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    border-width: 1px;
    border-style: solid;
    border-color: $color-slay;
    border-radius: 2px;
    border-right: none;
    border-top: none;
    border-left: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    color: $color-slay !important;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color-slay;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color-slay;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color-slay;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color-slay;
  }

  &__button-wrapper {
    margin-top: 48px;

    @media(max-width: $breakpoint-tablet) {
      margin: 24px auto 0;
    }
  }

  &__button {
    background: transparent;
    color: $color-slay;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 62px;
    letter-spacing: 0.8px;
    border-radius: 4px;
    border: 1px solid $color-slay;
    text-align: center;
    padding: 20px 34px;
    outline: none;
    width: 200px;

    &:hover {
      background: $color-slay;
      border: 1px solid $color-slay;
      color: white
    }

    @media(max-width: $breakpoint-desktop) {
      width: 100%;
    }
  }

  &__call-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__call-headline {
    font-size: 16px;
    color: $color-gray;

    @media(max-width: $breakpoint-tablet) {
      margin-bottom: 12px;
    }
  }

  &__call-title {
    color: $color-slay;
    font-size: 36px;
    line-height: 110%;

    @media(max-width: $breakpoint-desktop) {
      font-size: 28px;
    }

    @media(max-width: $breakpoint-tablet) {
      font-size: 20px;
    }
  }

  &__call-logo {
    background: url('../assets/images/logo.png') center center no-repeat;
    background-size: contain;

    height: 160px;
    width: 290px;
    margin: 24px auto;
  }

  &__call-number {
    color: $color-green;
    font-size: 48px;
    line-height: 110%;

    @media(max-width: $breakpoint-desktop) {
      font-size: 48px;
    }

    @media(max-width: $breakpoint-tablet) {
      font-size: 32px;
    }
  }
}
