@import 'variables';

.footer {
  min-height: 100px;
  color: $color-gray;
  background-color: $color-bg-gray;

  &__container {
    display: flex;
    padding: 24px 0;

    @media(max-width: $breakpoint-tablet) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__logo {
    height: 140px;
    width: 250px;
    background: url('../assets/images/logo.png') center center no-repeat;
    background-size: contain;
  }

  &__company-data {
    margin-left: 108px;
    display: flex;
    flex-direction: column;

    @media(max-width: $breakpoint-tablet) {
      margin-left: 0;
    }
  }

  &__company-bold {
    font-weight: 600;
    padding-right: 8px;
  }

  &__company-data-row {
    margin: 8px 0;
  }
}
