@import 'variables';

.get-started {
  &__timeline {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    @media(max-width: $breakpoint-desktop) {
      flex-direction: column;
      margin-top: 24px;
    }

    @media(max-width: $breakpoint-tablet) {
      margin-top: 20px;
    }
  }

  &__timeline-item {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;

    @media(max-width: $breakpoint-desktop) {
      width: 100%;
      margin-top: 24px;
    }

    @media(max-width: $breakpoint-tablet) {
      margin-top: 20px;
    }

    @media(max-width: $breakpoint-mobile) {
      margin-top: 16px;
    }
  }

  &__timeline-number-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #dddddd;
    }
  }

  &__timeline-number {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    font-size: 30px;
    font-weight: 400;
    margin: 10px;
    background-color: $color-green;
    color: #ffffff;
  }

  &__timeline-title {
    color: $color-slay;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    margin-bottom: 16px;

    @media(max-width: $breakpoint-tablet) {
      font-size: 20px;
      margin-bottom: 8px;
    }
  }

  &__timeline-description {
    color: $color-lightgray;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    width: 80%;
  }
}
