@import 'variables';

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;

  @media(min-width: $breakpoint-mobile) {
    max-width: 540px;
  }

  @media(min-width: $breakpoint-tablet) {
    max-width: 720px;
  }

  @media(min-width: $breakpoint-desktop) {
    max-width: 960px;
  }

  @media(min-width: $breakpoint-large-desktop) {
    max-width: 1200px;
  }
}

.color-green {
  color: $color-green;
}

.color-blue {
  color: $color-blue;
}

.color-gray {
  color: $color-gray;
}

.color-slay {
  color: $color-slay;
}

.color-white {
  color: white !important;
}

p {
  margin: 0 0 15px 0;
  padding: 0;
}

p.narrow {
  text-align: center;
  max-width: 620px;
  color: $color-slay;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.separator-line {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.separator {
  height: 1px;
  border-top: 1px solid $color-blue;
  width: 40px;
}

.headline {
  font-weight: 400;
  font-size: 12px;
}

.paragraph {
  margin: 0 0 12px 0;
  color: $color-lightgray;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.header {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 24px 0;
}

.ml12 {
  margin-left: 12px;
}
