@import 'variables';

html, body {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 32px;
  margin: 0 auto;

  @media(min-width: $breakpoint-large-desktop) {
    max-width: 1200px;
  }
}

.color-green {
  color: $color-green;
}

.color-blue {
  color: $color-green;
}

.color-gray {
  color: $color-gray;
}

.color-slay {
  color: $color-slay;
}

.color-lightgray {
  color: $color-lightgray !important;
}

.color-white {
  color: white !important;
}

p {
  margin: 0 0 15px 0;
  padding: 0;
}

p.narrow {
  text-align: center;
  max-width: 620px;
  color: $color-slay;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.separator-line {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.separator {
  height: 1px;
  border-top: 1px solid $color-slay;
  width: 40px;
}

.headline {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.paragraph {
  margin: 0 0 12px 0;
  color: $color-lightgray;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.header {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 24px 0;

  @media(max-width: $breakpoint-desktop) {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 20px 0;
  }

  @media(max-width: $breakpoint-tablet) {
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 12px 0;
  }
}

.list {
  color: $color-lightgray;
  padding-left: 28px;
  margin-bottom: 0;
}

.list-elem {
  font-size: 16px;
  line-height: 30px;
}

.ml12 {
  margin-left: 12px;
}
