@import 'variables';

.maps {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__map-row {
    margin: 24px 0;
  }

  &__map {
    height: 400px;
  }

  &__marker {
    padding: 4px;
    font-size: 16px;
    font-weight: 500;

    p {
      margin-bottom: 4px !important;
    }
  }
}
