@import 'variables';

@mixin button {
  background: white;
  color: $color-lightgray;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
  border-radius: 4px;
  border: 1px solid $color-lightgray;
  text-align: center;
  outline: none;

  &:hover {
    background: $color-lightgray;
    color: white;
  }
}
