@import 'variables';

.navigation {
  &--sticky {
    background-color: white;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.4s;
  }

  &--theme-fixed {
    transform: translateY(-100%);
  }

  &--theme-fixed-on {
    transform: translateY(0);
    box-shadow: 1px 0 10px rgba(black, 0.3);
  }

  &__first-row {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 230px;
    height: 130px;
    background: url('../assets/images/logo.png') center center no-repeat;
    background-size: contain;
  }

  &__icon {
    font-size: 30px;
  }

  &__address-item {
    display: flex;
    align-items: center;
  }

  &__telephone-item {
    margin-left: 24px;
  }

  &__address-entry {
    margin-left: 12px;
    font-size: 18px;
  }

  &__telephone-entry {
    margin-left: 12px;
    font-size: 22px;
  }

  &__address {
    display: flex;
  }

  &__second-row {
    height: 70px;
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
  }

  &__menu-item {
    margin: 0 12px;
    padding: 0 12px;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}
