@import 'variables';

.our-projects {
  &__projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 24px 0;

    @media(max-width: $breakpoint-desktop) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__project-image {
    height: 300px;

    &.first {
      background: url('../assets/images/project-1.png') center no-repeat;
      background-size: 100% 100%;
    }

    &.second {
      background: url('../assets/images/project-2.png') center no-repeat;
      background-size: 100% 100%;
    }
  }

  &__title {
    color: $color-slay;
    margin: 16px 0 24px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
}
