$max-width: 1400px;

/* Breakpoints */
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1200px;

/* Font sizes */
$font-xxs: 16px;
$font-xs: 18px;
$font-s: 22px;
$font-m: 26px;
$font-l: 36px;
$font-xl: 42px;
$font-xxl: 54px;
$font-3xl: 62px;
$font-4xl: 78px;

/* Colors */
$color-green: #6bba6b;
$color-slay: #2b3152;
$color-gray: #565b7a;
$color-lightgray: #777b93;
$color-bg-gray: #edf0f7;
