@import 'variables';

.welcome {
  display: flex;

  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__slide {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $breakpoint-desktop) {
      height: 500px;
    }

    @media (max-width: $breakpoint-tablet) {
      height: 340px;
      align-items: flex-start;
    }

    .container {
      height: 100%;
      display: flex;

      @media (max-width: $breakpoint-tablet) {
        align-items: flex-start !important;
        justify-content: center;

        .welcome__slide-title {
          margin: 40px 0 0 0 !important;
          text-align: center !important;
        }
      }
    }

    &.first {
      background: url('../assets/images/slide-1.jpg') center center no-repeat;
      background-size: cover;

      .container {
        align-items: center;
      }

      & .welcome__slide-title {
        text-align: left;
      }
    }

    &.second {
      background: url('../assets/images/slide-2.jpg') center center no-repeat;
      background-size: cover;

      .container {
        align-items: flex-end;
      }

      & .welcome__slide-title {
        margin: 0 auto 50px auto;
        transform: translateY(-100px);
      }
    }

    &.third {
      background: url('../assets/images/slide-3.jpg') center center no-repeat;
      background-size: cover;

      .container {
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__slide-title {
    font-size: 52px;
    text-align: center;
    color: white;
    font-weight: 600;
    transition: all 0.5s;
    text-shadow: 0 0 50px #000, 0 0 30px #000;
    max-width: 650px;
    opacity: 0;
    transform: translateY(-250px);
    height: fit-content;

    @media (max-width: $breakpoint-desktop) {
      font-size: 40px;
    }

    @media (max-width: $breakpoint-tablet) {
      font-size: 32px;
      margin-top: 36px;
    }
  }

  .splide__slide.is-active {
    .welcome__slide-title {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
