@import 'variables';

.welcome {
  display: flex;
  margin-bottom: 32px;

  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__slide {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: flex-end;

    @media (max-width: $breakpoint-desktop) {
      height: 500px;
    }

    @media (max-width: $breakpoint-tablet) {
      height: 400px;
    }

    &.first {
      background: url('../assets/images/slide-1.jpg') center center no-repeat;
      background-size: cover;
    }

    &.second {
      background: url('../assets/images/slide-2.jpg') center center no-repeat;
      background-size: cover;
    }

    &.third {
      background: url('../assets/images/slide-3.jpg') center center no-repeat;
      background-size: cover;
    }
  }

  &__slide-title {
    font-size: 52px;
    text-align: center;
    color: white;
    font-weight: 600;
    transition: all 0.3s;
    padding-bottom: 36px;
    padding-top: 20px;
    width: 100%;
    background-color: rgba($color-green, 0.6);
    box-shadow: 0px -2px 6px 4px rgba($color-green, 0.6);

    @media (max-width: $breakpoint-desktop) {
      font-size: 36px;
    }

    @media (max-width: $breakpoint-tablet) {
      font-size: 40px;
      margin-top: 48px;
    }
  }
}
