@import 'variables';

.what-we-offer {
  background-color: #E0EDED;
  margin-top: 24px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 48px;

    @media(max-width: $breakpoint-desktop) {
      padding: 36px;
    }

    @media(max-width: $breakpoint-tablet) {
      padding: 12px;
    }
  }

  &__offers {
    grid-column-gap: 32px;
    grid-row-gap: 32px;

    @media(max-width: $breakpoint-desktop) {
      margin: 16px 0;
    }
  }

  &__offer-item {
    display: flex;
    align-items: center;
    margin: 36px 0;

    @media (max-width: $breakpoint-desktop) {
      margin: 24px 0;
      flex-direction: column;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__icon-wrapper {
    width: 200px;
    height: 200px;
    margin-right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: -1px 0px 15px 1px rgba(0,0,0,0.2);

    &.first {
      background: url('../assets/images/what_we_offer_fotovol.svg') center center no-repeat;
      background-size: 65%;
    }

    &.second {
      background: url('../assets/images/what_we_offer_zbiornikm.svg') center center no-repeat;
      background-size: 65%;
    }

    &.third {
      background: url('../assets/images/what_we_offer_zbiornikm.svg') center center no-repeat;
      background-size: 65%;
    }

    &.four {
      background: url('../assets/images/what_we_offer_pompa.svg') center center no-repeat;
      background-size: 65%;
    }

    @media (max-width: $breakpoint-desktop) {
      width: 120px;
      height: 120px;
      margin-right: 0;
    }
  }

  &__offer-title {
    color: $color-slay;
    font-size: 28px;
    line-height: 34px;
    margin: 16px 0;

    @media(max-width: $breakpoint-desktop) {
      text-align: center;
    }

    @media(max-width: $breakpoint-tablet) {
      font-size: 22px;
      margin: 12px 0;
    }
  }

  &__offer-description {
    color: #777b93;
    font-size: 16px;
    line-height: 28px;

    @media(max-width: $breakpoint-tablet) {
      text-align: center;
    }
  }
}
