@import 'variables';

.what-we-offer {
  background-color: #f8fbff;
  margin-top: 24px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 48px;

    @media(max-width: $breakpoint-desktop) {
      padding: 36px;
    }

    @media(max-width: $breakpoint-tablet) {
      padding: 12px;
    }
  }

  &__offers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin: 36px 0;

    @media(max-width: $breakpoint-desktop) {
      grid-template-columns: repeat(1, 1fr);
      margin: 16px 0;
    }
  }

  &__offer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: $breakpoint-desktop) {
      margin: 12px 0;
    }
  }

  &__icon-wrapper {
    width: 150px;
    height: 150px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: -1px 0px 15px 1px rgba(0,0,0,0.2);

    @media (max-width: $breakpoint-desktop) {
      width: 120px;
      height: 120px;
    }
  }

  &__offer-title {
    color: $color-slay;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 12px;

    @media(max-width: $breakpoint-tablet) {
      font-size: 20px;
      margin-bottom: 8px;
    }
  }

  &__offer-description {
    color: #777b93;
    font-size: 16px;
    line-height: 28px;
    text-align: center;

    @media(max-width: $breakpoint-tablet) {
      font-size: 14px;
    }
  }
}
